
.total{
    padding-left: 120px;
    padding-bottom: 10px;

}
.totalamount{
    padding-bottom: 15px;
    
}
.datepicker{
    margin-right: 100px;
}
.datepick{
    margin-top: 15px;
}
.select{
    margin-top: 10px;
    margin-bottom: 8px;
    
}
.excel{
    padding-top: 12px;
}
.checkbox{
    font-size:15px;
    padding-top: 15px;
}
.checker{
    margin-left: 5%;
}
.pickertwoo{
    padding-top: 10px;
}
.pickerthree{
    padding-top: 10px;
}
.contentone{
    padding-top: 20px;
}