
.total{
    padding-left: 120px;
    padding-bottom: 10px;

}
.totalamount{
    padding-bottom: 15px;
    
}
.datepicker{
    margin-right: 100px;
}
.datepick{
    margin-top: 15px;
}
.select{
    margin-top: 10px;
    margin-bottom: 8px;
    
}
.excel{
    padding-top: 12px;
}
.checkbox{
    font-size:15px;
    padding-top: 15px;
}
.checker{
    margin-left: 5%;
}
.pickertwoo{
    padding-top: 10px;
}
.pickerthree{
    padding-top: 10px;
}
.contentone{
    padding-top: 20px;
}
.pagination-container {
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
    padding-top: 22px;
    padding-bottom: 25px;
    /* padding-left: 25px; */
    margin-right: 25px;
    margin-left:25px;
}

.pagination-component .pagination-btn {
    display: inline-block;
    margin: 0 2px;
    white-space: nowrap;
    padding-right: 10px;
}
.react-datepicker-wrapper .react-datepicker__input-container input {
    padding-left: 20px; /* Adjust the left padding as needed */
    padding-right: 10px;
    margin-right: 20px; /* Adjust the right padding as needed */
  }
  .pagination-dots {
  margin: 0 9px; /* Adjust the spacing as per your preference */
}